body,
#container, #display,
.non-digit_keys, .digits {
  display: flex;
}

body,
#display,
.non-digit_keys, .digits {
  justify-content: center;
  align-items: center;
}

#container, #display,
.non-digit_keys, .digits {
  border: 2px solid #00ff08;
}

#display, #float, #negative,
.digits {
  color: green;
}

#display,
.non-digit_keys, .digits {
  height: 80px;
}

#container, #display {
  width: 400px;
}

#backspace, #float {
  font-size: 5.5rem;
  align-items: flex-end;
}

#equals,
.non-digit_keys {
  font-size: 5rem;
}

#negative,
.digits {
  font-size: 4rem;
}

#clear, #percent {
  font-size: 3rem;
}

.non-digit_keys, .digits {
  user-select: none;
  cursor: pointer;
  width: 80px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
#container {
  flex-flow: row-reverse wrap;
  height: 400px;
}

#display {
  text-align: center;
  user-select: all;
  cursor: grab;
}
#display::selection {
  background-color: gold;
}

#clear {
  color: red;
}
#backspace {
  color: rgb(255, 136, 0);
}
#equals {
  color: rgb(25, 0, 255);
}
.non-digit_keys {
  color: rgb(30, 0, 255);
}
#percent {
  color: #700896;
}
